@import "../../sass/main.scss";

.productPage {
  column-gap: 20px;
  height: 100%;

  .productPage-imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(0deg, #ffffff 0%, #ededed 100%);
    border-top-left-radius: 30px;

    img {
      max-width: 100%;
    }
  }

  .productPage-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    ul {
      .text {
        margin-bottom: 30px;
      }
    }

    .productPage-buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        width: 50%;
        margin: 0;
        margin-left: auto;
      }

      @include screen(xs) {
        flex-direction: column;

        .btn {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }
}
