@import "../../sass/main.scss";

.btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  outline: 0;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    color: $white;
  }

  box-icon {
    fill: $white;
    margin-left: 5px;
  }

  &:hover {
    background: #d42907;
  }
}

.btn.secondary {
  background: $secondary;

  &:hover {
    background: #2f29e9;
  }
}

.btn.dark {
  background: $black;

  &:hover {
    background: $secondary;
  }
}

.btn.light {
  background: $white;
  border: 1px solid $gray-l;

  .text {
    color: $black;
  }

  box-icon {
    fill: $black;
  }

  &:hover {
    background: $black;

    .text {
      color: $white;
    }

    box-icon {
      fill: $white;
    }
  }
}
