.container {
  margin: 0 auto;
  padding-top: 15px;
  height: calc(100% - 70px);

  @include screen(lg) {
    margin: 0 auto;
    max-width: 1170px;
  }
  @include screen(md) {
    max-width: 970px;
  }
  @include screen(sm) {
    max-width: 750px;
  }
  @include screen(xs) {
    padding: 0 20px;
  }
}

// Font Sizes & Weights
.fs-lg {
  font-size: $text-lg;
}

.fs-md {
  font-size: $text-md;
}

.fs-sm {
  font-size: $text-sm;
}

.fs-xs {
  font-size: $text-xs;
}

// Font Weights
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

// Colors
.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.gray-l {
  color: $gray-l;
}

.gray-d {
  color: $gray-d;
}

// Other Settings
.justify {
  text-align: justify;
}

.mb-15 {
  margin-bottom: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.my-15 {
  margin: 15px 0;
}

.pb-15 {
  padding-bottom: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.py-15 {
  padding: 15px 0;
}

// Grid
.d-grid {
  display: grid;
}

// Layout
.w-50 {
  @include screen(lg) {
    width: 50%;
  }
  @include screen(md) {
    width: 60%;
  }
  @include screen(sm) {
    width: 60%;
  }
}

.g-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include screen(md) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include screen(sm) {
    & {
      grid-template-columns: 1fr;
    }
  }
  @include screen(xs) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
