// Colors
$primary: #dc3a1a;
$secondary: #5d58f5;
$black: #161616;
$white: #FFF;
$gray-l: #e4e7eb;
$gray-d: #707070;

// Font Sizes
$text-lg: 2.4rem;
$text-md: 2rem;
$text-sm: 1.5rem;
$text-xs: 1.2rem;