@import "../../sass/main.scss";

.product {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid $gray-l;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .imgContainer {
    margin-bottom: 5px;
  }  

  .product-details {
    margin: 5px 0;
  }

  .product-stars-price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-stars {
      padding: 0;
    }
  }
}
