@import "../../sass/main.scss";;

.textInput {
  display: block;
  border: none;
  outline: 0;
  border: 1px solid $gray-l;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  padding: 10px 15px;
}
