@import "../../sass/main.scss";;

.cart__items {
  .total-pay {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pay-btn {
      width: 40%;
    }
  }

  @include screen(xs) {
    & {
      .total-pay {
        flex-direction: column;
        .pay-btn {
          width: 100%;
        }
      }
    }
  }
}
