@import "../../sass/main.scss";

.cart__items {
  margin-top: 20px;

  .total-pay {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pay-btn {
      width: 40%;
    }
  }
}
