@import "../../sass/main.scss";

nav {
  background-color: $black;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;

  .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      display: flex;
      justify-content: center;
      align-items: center;

      .brand-text {
        margin-left: 5px;

        @media (max-width: 480px) {
          & {
            display: none;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin-left: 20px;

        &.box {
          padding: 5px 15px;
          border-radius: 2px;

          @include screen(xs) {
            & {
              padding: 5px 10px;
            }
          }
        }

        &.box-1 {
          background-color: #504d56;
          position: relative;

          a {
            display: flex;
            align-items: center;
            justify-content: center;

            .box-text {
              margin-right: 5px;

              @include screen(xxs) {
                display: none;
              }
            }

            box-icon {
              transform: rotate(90deg);
            }
          }

          &:hover,
          &:active{
            background-color: $secondary;
          }

          form.searchBox {
            display: none;
            padding: 20px 30px;
            background-color: $white;
            border: 1px solid $gray-l;
            position: absolute;
            top: 50px;
            right: -20px;

            input {
              border: none;
              outline: 0;
              width: 180px;
            }

            &::before {
              content: "";
              height: 18px;
              width: 18px;
              background-color: $white;
              top: -5px;
              right: 15px;
              position: absolute;
              transform: rotate(45deg);
            }
          }
        }

        &.box-2 {
          background-color: #2f353d;
          &:hover {
            background-color: #504d56;
          }
        }

        &.icon {
          padding: 4px 5px;
          border-radius: 2px;
          position: relative;

          &:hover {
            background-color: #2f353d;
          }

          .circle {
            background-color: $primary;
            width: 18px;
            height: 18px;
            border-radius: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
  }
}
