@import "../../sass/main.scss";

.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-form {
    min-width: 370px;

    @include screen(xs) {
      min-width: 90vw;
    }

    position: relative;
    border: 1px solid $gray-l;
    padding: {
      top: 20px;
      bottom: 60px;
      left: 30px;
      right: 30px;
    }

    input {
      display: block;
      border: none;
      outline: 0;
      border: 1px solid $gray-l;
      width: 100%;
      height: 40px;
      border-radius: 3px;
      padding: 10px 15px;
      margin-top: 25px;
    }

    .form-buttons {
      margin-top: 40px;
    }

    .forgot {
      float: right;
      clear: both;
      margin-top: 10px;
    }

    .already {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.error-message {
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  color: $primary;
  margin: {
    top: 3px;
    left: 3px;
  }
}
