@import "../../../../sass/main.scss";

.cart__item {
cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $gray-l;
  margin-bottom: 20px;

  .cartItem-title {
    text-align: center;
    margin: 15px 0;
  }

  @media (max-width: 499px) {
    & {
      flex-direction: column;
    }
  }

  .cartItem-imgWrapper {
    img {
      width: 70px;
    }
  }

  .cartItem-title {
    min-width: 160px;
  }
}
