@import '../../sass/main.scss';

.btnico {
    outline: 0;
    border: 0;
    background: none;
    padding: 4px 5px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: $gray-l;
    }
}